* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #9bc4ec;
    font-size: 16px;
  
  }
  
  header {
    background-color: #9bc4ec;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    align-items: center;
    border: 1px solid #000000;
  }
  
  footer {
    background-color: #9bc4ec;
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: right;
    justify-items: end;
    font-size: 12px;
    border: 1px solid #000000;
  }
  
.memorytable {
  padding: 50px;
}

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th, td {
    padding: 15px;
  }

  h1 {
    font-size: 60px;
    text-align: center;
    
  }
  
  h2 {
    padding: 20px;
    font-size: 35px;
    text-align: center;
   
  }

  .para {
    border: 2px solid #000000;
    height: 100px;
    width: 960px;
    
    
  }

.bbox {
  display: flex;
  height: 250px;
  width: auto;
}

.nav {
  display: block;
  
    
}

  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding:15px;
    overflow: hidden;
    
  }
  
  .navbar li {
    float: left;
    
    
  }
  
  .navbar a {
    color: #000000;
    font-size: large;
    padding: 15px;
    
  }

  
/* Class selectors **********************/
.page {
    max-width: 960px;
    margin: 1rem auto;
  }
  