* {
  margin: 0;
  padding: 0;
  background-color: #eff2f5;
}

body {
  background: linear-gradient(to right, #8e9eab, #eef2f3);
  height: 100vh;
  display: flex;
  justify-content: center;
  border-radius: 20px 20px 0 0;
  align-items: center;
  font-family: sans-serif;
  letter-spacing: 0.03em;
}

.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";
  font-family: Roboto;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-image {
  grid-area: image;
  background: url(/WDD130/mediacard/images/los-angeles-temple-glory-to-the-highest-300x300.jpg);
  border-radius: 20px 20px 0 0;
  background-size: cover;
}

.card-text {
  grid-area: text;
  margin: 25px;
  font-variant: common-ligatures tabular-nums;
}

.card-stats {
  grid-area: stats;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 15px;
  
}

.btn {
  background-color: #f4511e;
  border: none;
  color: #000000;
  margin: 4px 2px;
  padding: 16px 32px;
  text-align: center;
  opacity: 1;
  transition: 0.5s;
  border-radius: 30px;
  }

.btn:hover {
  opacity: 1;
  background-color: #3e8e41;
  color: white;
}

/* Class selectors **********************/
.page {
  max-width: 960px;
  margin: 1rem auto;
}
