* {
  margin: 0;
  padding: 0;
  background-color: #eff2f5;

  border-radius: 5px 5px 0 0;
}

body {
  background: linear-gradient(to right, #8e9eab, #eef2f3);
  height: 100vh;
  display: flex;
  justify-content: center;
 
  align-items: center;
  font-family: sans-serif;
  letter-spacing: 0.03em;
}

.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";
  font-family: Roboto;
  border-radius: 10px 10px 10px 10px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-image {
  grid-area: image;
  background: url(/mediacard/images/los-angeles-temple-glory-to-the-highest-300x300.jpg);
  
  background-size: cover;
}

.card-text {
  grid-area: text;
  margin: 25px;
  font-variant: common-ligatures tabular-nums;
  
}

.card-stats {
  grid-area: stats;
  display: flex;
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 15px;
  url(https://churchofjesuschristtemples.org/los-angeles-california-temple/)
}

.btn {
  margin: 10px 0;
  padding-left: 25px;
  text-align: center;
  align-items: right;
  
}

.btn-1 {
  height: 40px;
  width: 100px;
  font-size: 17px;
  transition: .4s all;
  background: none;
  outline: none;
  
  
}

/* Class selectors **********************/
.page {
  max-width: 960px;
  margin: 1rem auto;
}
