* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e90ff;
  font-size: 16px;
}

header {
  background-color: #add8e6;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  align-items: center;
  border: 1px solid #000000;
}

footer {
  background-color: #add8e6;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: end;
  font-size: 12px;
  border: 1px solid #000000;
}

.social {
  align-items: center;
  justify-items: end;
}

h1 {
  font-size: 20px;
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  padding: 0;
}

.navbar li {
  text-align: center;
}

.navbar a {
  
  width: 100px;
  display: block;
}

.mygrid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
}



.fig1 {
  grid-column: 2/2;
}

.fig2p {
  grid-column: 2/3;
}

.fig2 {
  grid-column: 1/2;
}

.logo {
  margin-left: 10px;
}

.raftingtrips {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
  margin-bottom: 15px;
}

.kern1 {
  grid-column: 1/2;
}

.raftinggallery {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 960px;
}

.runwithus {
  line-height: 1.5;
  border-top: 5px double;
  border-bottom: 5px double;
  background-color: #add8e6;
  padding: 7px;
  margin-top: 1.7em;
  text-align: center;
}
.runwithusp {
  line-height: 1.5;
  margin-top: 5px;
}

a {
  color: #070807;
}

/* Class selectors **********************/
.page {
  max-width: 960px;
  margin: 1rem auto;
}
