/* WDD 130 Positioning Activity */
/* #region  common css   */
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  margin: 1rem 0;
  padding: 0.75rem;
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  box-shadow: 0, 0, 30px rgba(0, 0, 0, 0.3);
}

footer {
  font-size: smaller;
  margin: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  padding: 0.75rem;
}

/* #endregion    */

/* #region Activity 1 */
/* Activity 1 Styles */
.content1 {
  /* Activity One Container */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
}
.red1 {
  width: 100%;
  height: 100px;
  background-color: red;
  grid-column: 1/3;
}
.green1 {
  width: 200px;
  height: 200px;
  background-color: green;
}
.yellow1 {
  width: 200px;
  height: 200px;
  background-color: gold;
}
.blue1 {
  width: 100%;
  height: 100px;
  background-color: blue;
  grid-column: 1/3;
}
/* #endregion     */

/* #region  Activity 2  */
/* Activity 2 Styles */
.content2 {
  /* Activity Two Container */
  position: relative;
}
.red2 {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  top: 50px;
  left: 50px;
}
.green2 {
  width: 100px;
  height: 100px;
  background-color: green;
  position: absolute;
  top: 100px;
  left: 100px;
}
.yellow2 {
  width: 100px;
  height: 100px;
  background-color: gold;
  position: absolute;
  top: 150px;
  left: 150px;
}
.blue2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  top: 200px;
  left: 200px;
}

/* #endregion    */

/* #region Activity 3    */
/* Activity 3 Styles */
.content3 {
  /* Activity Three Container */
  display: grid;
  grid-template-columns: 1fr 1fr;
 }
.red3 {
  width: 100%;
  height: 100px;
  background-color: red;
  grid-column: 1/3;
}
.green3 {
  width: 250px;
  height: 200px;
  background-color: green;
  justify-self: left;
 }
.yellow3 {
  width: 250px;
  height: 200px;
  background-color: gold;
  justify-self: right;
  }
.blue3 {
  width: 100%;
  height: 100px;
  background-color: blue;
  grid-column: 1/3;
}
/* #endregion    */

/* #region  Activity 4    */
/* Activity 4 Styles */
.content4 {
  /* Activity Four Container */
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 400px;
  col
}
.red4 {
  width: 400px;
  height: 200px;
  background-color: red;
  
}
.green4 {
  width: 400px;
  height: 200px;
  background-color: green;
  grid-column: 1/3;
}
.yellow4 {
  width: 400px;
  height: 200px;
  background-color: gold;
}
.blue4 {
  width: 400px;
  height: 400px;
  background-color: blue;
    
}
/* #endregion       */

/* #region 5       */
/* Activity 5 Styles */
.content5 {
  /* Activity Five Container */
  height: 400px;
}
.red5 {
  width: 100px;
  height: 100px;
  background-color: red;
}
.green5 {
  width: 100px;
  height: 100px;
  background-color: green;
}
.yellow5 {
  width: 100px;
  height: 100px;
  background-color: gold;
}
.blue5 {
  width: 100px;
  height: 100px;
  background-color: blue;
}
/* #endregion     */

/* #region Activity 6   */
/* Activity 6 Styles */
.content6 {
  /* Activity Six Container */
}
.red6 {
  width: 100px;
  height: 100px;
  background-color: red;
}
.green6 {
  width: 100px;
  height: 100px;
  background-color: green;
}
.yellow6 {
  width: 100px;
  height: 100px;
  background-color: gold;
}
.blue6 {
  width: 100px;
  height: 100px;
  background-color: blue;
}
/*   #endregion    */

/* #region  Global container class No Change */
/* Do not change this container class */
.activity {
  width: 600px;
  margin: 1rem auto;
  font-family: Arial, sans-serif;
  border: 1px solid #777;
  padding: 1rem;
  clear: both;
  overflow: auto;
}

.title {
  background-color: #ddd;
}

/* #endregion     */
