* { 
    margin: 0;
    padding: 0;
}

body {
    background-color: #1e90ff;
    font-size: 16px;
}

header, footer {
   background-color: #add8e6;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: center;
   justify-content: center;
}

a {
    color: #90ee90;
}

/* Class selectors **********************/
.page {
    max-width: 960px;
    margin: 1rem auto;
}