* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e90ff;
  font-size: 16px;
}

header,
footer {
  background-color: #add8e6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  border: 5px solid #000000;
}

a {
  color: #3b0b0d;
}

/* Class selectors **********************/
.page {
  max-width: 960px;
  margin: 1rem auto;
}
