* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #eff2f5;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #59bdf7;
  font-size: 15px;
}

main {
  margin: 0;
  border: 1px solid #bbb;
  padding: 0.5rem;
}

.inputfields {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

input:required,
select:required,
textarea:required {
  border-color: #1100ff;
}

input:valid,
select:valid,
textarea:valid {
  border-color: #1100ff;
}

textarea {
    height: 150px;
    resize: none;
}

label {
    margin-left:auto;
    width: 75px;
    text-align: left;
}


/* Class selectors **********************/
.page {
  max-width: 960px;
  margin: 1rem auto;
}
